#title {
    text-align: center;
}

.below-input {
    display: block;
    width: 80%;
    margin-top: 5px;
}

#dropdown {
    width: 80%;
}

fieldset {
    margin-top: 30px;
    padding: 10px
}

.special-instructions textarea {
    height: 80px;
}

section {
    background-color: lightgray;
    border: 1px black solid;
    margin-top: 30px;
    padding: 15px;
}

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.submit-button button {
    width: 15em;
    height: 3em;
}