body {
    background-color: lightyellow;
}

@media (min-width: 1000px) {
    body {
        max-width: 60%;
        margin: auto;
    }
}

.below-input {
    display: block;
    width: 80%;
    margin-top: 5px;
}

#dropdown {
    width: 80%;
}

fieldset {
    margin-top: 30px;
    padding: 10px;
    width: 80%;
}

.special-instructions textarea {
    height: 80px;
}

section {
    border: 1px black solid;
    margin-top: 30px;
    padding: 15px;
    background: linear-gradient(0deg, grey, lightgray);
}

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: blue;
}

.submit-button button {
    width: 15em;
    height: 3em;
    background-color: blue;
    color: white;
    font-size: 1.2em;
}

.submit-button button:hover {
    background-color: green;
    transform: scale(1.2);
}

header {
    font-family: 'Roboto Mono', monospace;
    font-size: larger;
    margin: 0px;
    background-image: url("assets/pizza-955px.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

header h1 {
    text-align: start;
    position: relative;
    top: 75px;
    background-color: darkblue;
    width: 50%;
    margin: auto;
    /* background-color: black; */
    color: white;
    border: 1px solid black;
    padding: 20px;
}

.hero-text {
    width: 30%;
    text-align: center;
    padding: 5px;
    background-color: blue;
    font-family: 'Roboto Mono', monospace;
    color: white;
    border: 1px solid black;
    font-size: 2em;
}

.form-group {
    font-family: 'Lato', sans-serif;
}